{% extends 'base.html' %}

{% block title %}
  Scrumptious Recipes
{% endblock title %}

{% block content%}
<header>
  <nav>
    <a href="{% url 'recipe_list' %}" style="text-decoration:none">Main Page</a>
    <a href="{% url 'edit_recipe' recipe_object.id %}" style="text-decoration:none">Edit recipe</a>
  </nav>

</header>
<main>
  <h1 class="dosis">{{ recipe_object.title }}</h1>
  <img class="shadow-box" src={{ recipe_object.picture }} alt={{ recipe_object.description }} width="200px" height="200px">
  <div class="dosis">4.7 stars</div>
  <h2>Ingredients</h2>
  <table class="ingredients">
    <thead>
      <tr>

         <th>Amount</th>
          <th>Food Item</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <div>
        <td>1 cup</td>
        <td>Green beans</td>
      </tr>
      <tr>
        <td>3 ears</td>
        <td>Fresh corn</td>
      </tr>
      <tr>
        <td>2 cups</td>
        <td>Tomatillo salsa</td>
      </tr>
      <tr>
        <td> 8 </td>
        <td> Corn tortillas</td>
      </tr>
      <tr>
        <td>0.5 cups</td>
        <td>Cotija cheese</td>
        </tr>
      </div>
      </tr>
    </tbody>
  </table>
    <h2> Steps</h2>
   <ol>
      <li>Blanch the green beans</li>
      <li>Grill the green beans and the ears of corn</li>
      <li>Chop the green beans</li>
      <li>Slice the corn off the cob</li>
      <li>Grill the tortillas</li>
      <li>Assemble the tacos with veggies, salsa, and cheese</li>
    </ol>


</main>


{% endblock content%}
