{% extends 'base.html' %}

{% block title %}
  Scrumptious Recipes
{% endblock title %}

{% block content%}
<header>
  <nav>
    <a href="{% url 'recipe_list' %}">Main Page</a>
    <a href="{% url 'edit_recipe' recipe_object.id %}">Edit recipe</a>
  </nav>
</header>
<main>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button>Edit Recipe</button>
  </form>
</main>
{% endblock content %}
