{% extends 'base.html' %}

{% block title %}
  Scrumptious Recipes
{% endblock title %}

{% block content%}
<header>
  <nav>
    <a href={% url 'recipe_list' %} style="text-decoration: none">Main Page</a>
    <a href={% url 'create_recipe' %} style="text-decoration: none">Create a recipe</a>
  </nav>
</header>
<main>
  <h1 class="leadingfont">Scrumptious Recipes</h1>
  <h2 class="dosis">All the food that's fit to eat</h2>
  <div class="my-grid">
    {% for recipe in recipe_list %}
    <div>
      <h3>
        <a href="{% url 'show_recipe' recipe.id %}" style="text-decoration: none">{{ recipe.title }}</a>
      </h3>
      <img class="shadow-box img-size" src="{{ recipe.picture }}" alt={{ recipe_object.description }}>
      <div class="dosis">4.7 Stars</div>
      <p>{{ recipe.created_on|date}}
  </div>
  {% endfor %}
</div>
</main>
{% endblock content %}
