{% load static %}

<!DOCTYPE html>
<html>

<head>
  <title>
    {% block title %}{% endblock title%}
 </title>
  <link rel="stylesheet" href="{% static "css/recipes.css" %}">
</head>

<body>
 {% block content %} {% endblock content %}
  <footer class="has-cute-thin-border">
    <div>Made with love by Scrumptious Recipes</div>
  </footer>
</body>

</html>
